<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/research" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Research</h2></a>
<a href="{{ "/publication" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Publication</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
